@import "~bulma/sass/utilities/mixins";

html, body {
  min-height: 100vh;
}

#app_container {
  min-height: 100vh;
}

#editor {
  .widgets {
    display: none;
  }

  .CodeMirror {
    height: auto;
  }
}

.footer {
  padding: 1rem;
}

@include desktop {
  body {
    height: 100vh;
  }

  #app_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .nav {
    flex-shrink: 0;
  }

  .footer {
    padding: 1rem;
    flex-shrink: 0;
  }

  #editor {
    flex: 1 1 auto;
    position: relative;

    .editor-container {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .react-codemirror2 {
      height: 100%;
    }

    .CodeMirror {
      height: 100%;
      // overflow: auto;
    }
  }
}

.debug_sections {
  font-family: monospace;
}
