@import "~bulma/sass/utilities/mixins";

html, body {
  min-height: 100vh;
  height: 100%;
  background-color: #f7f7f7;
}

#app_container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  background-color: #363636;
}

.navbar {
  img.logo {
    margin-top: -4px; // too lazy to figure out how to photoshop an SVG sorry everyone
  }
}

.footer {
  background-color: white;
}

#toolbar {
  font-family: monospace;
  background-color: $grey-lighter;
  padding: 0.5rem;
}

#editor {
  flex: 1 1 auto;

  .container {
    height: 100%;
  }

  .react-codemirror2 {
    height: 100%;
  }

  .CodeMirror {
    height: 100%;
  }
}

#notfound {
  flex: 1 1 auto;
}

.footer {
  padding: 1rem;
}

.debug_sections {
  font-family: monospace;
}

.CodeMirror {
  .CodeMirror-linewidget {
    .box {
      margin: 0rem 0.5rem 0.25rem;
      display: inline-block;
    }
  }

  .cm-section-header {
    font-weight: bold;
    color: $cyan;
  }
  .cm-chord {
    color: $cyan;
  }

}

svg.piano {
  height: 90px;

  .white {
    fill: white;
    stroke-width: 1;
    stroke: grey
  }
  .black {
    fill: black;
    stroke-width: 1;
    stroke: black
  }

  .active {
    fill: rgb(221, 74, 222);
  }

  .octave-label {
    fill: hsl(0, 0%, 60%);
    font-weight: lighter;
    font-size: 0.9rem;
  }
}

.abcjs-title {
  display: none;
}
.item-break {
  margin: 0 1rem;
  color: $grey-lighter;
}
.footer svg {
  margin-right: 0.25rem;
}

.debug-ast {
  .ast-node {
    border: 1px dashed grey;
    margin: 0.5rem;
    padding: 0.5rem;
    float: left;
  }
  .ast-node:after {
    content: "";
    display: table;
    clear: both;
  }

  .ast-node.has-children {
    float: none;
  }
}
.loading-indicator {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.hover-widget {
  position: absolute;
  z-index: 9;
  width: auto;
}
