@import "~bulma/sass/utilities/mixins";

html, body {
  min-height: 100vh;
  background-color: #f7f7f7;
}

#app_container {
  min-height: 100vh;
}

.navbar {
  background-color: rgb(34, 34, 34);

  a.navbar-item:hover {
    background-color: black;
  }
}

.footer {
  background-color: white;
}


#editor {
  .widgets {
    display: none;
  }

  .CodeMirror {
    height: auto;
  }
}

.footer {
  padding: 1rem;
}

@include desktop {
  body {
    height: 100vh;
  }

  #app_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .nav {
    flex-shrink: 0;
  }

  .footer {
    padding: 1rem;
    flex-shrink: 0;
  }

  #editor {
    flex: 1 1 auto;
    position: relative;

    .editor-container {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .react-codemirror2 {
      height: 100%;
      width: 100%;
    }

    .CodeMirror {
      height: 100%;
      width: 100%;
      // overflow: auto;
    }
  }
}

.debug_sections {
  font-family: monospace;
}

.CodeMirror {
  .CodeMirror-linewidget {
    .box {
      margin: 0rem 0.5rem 0.25rem;
      padding: 0.5rem 1rem;
      width: auto;
    }
  }

  .cm-section-header {
    font-weight: bold;
    color: $cyan;
  }
}

.piano {
  width: 100%;
  height: 90px;

  .white {
    fill: white;
    stroke-width: 1;
    stroke: grey
  }
  .black {
    fill: black;
    stroke-width: 1;
    stroke: black
  }

  .active {
    fill: rgb(221, 74, 222);
  }

  .octave-label {
    fill: hsl(0, 0%, 60%);
    font-weight: lighter;
    font-size: 0.9rem;
  }
}
