<!DOCTYPE html>
<html>
  <head>
    <title>Extractab</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/favicon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon_16.png" sizes="16x16">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
